<?xml version="1.0" encoding="utf-8"?>
<!-- 图片上传配置项 -->
<UploadBaseConfig>
  <!-- 可上传文件的扩展名 -->
  <AllowExtension>.gif,.jpg,.jpeg,.png,.bmp,.rar,.zip,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf,.txt</AllowExtension>
  <!-- 可上传文件的大小（b） -->
  <MaxSize>4194304</MaxSize>
  <!-- 图片保存目录 -->
  <SavePath>/Upload/temp</SavePath>
</UploadBaseConfig>